{% extends "registration/base_auth.html" %}
{% block content %}
<br>
<div class="container" style="width: 240px;">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="form-group d-grid">
                <label class="form-label">Логин</label>
                {{ form.username }}
            </div>

            <div class="form-group d-grid">
                <label class="form-label">Пароль</label>
                {{ form.password }}
            </div>
        <br>
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Войти</button>
        <a href="/registration">Регистрация</a>
        </div>
        <input type="hidden" name="next" value="{{ index }}" />
    </form>
</div>
{% if form.errors %}
<div class="container"><p class="lead"><small>Вы ввели неправильные логин и пароль, Попробуйте снова.</small></p></div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="1;URL=http://192.168.202.29:8000" />
{% else %}
<div class="container"> <p class="lead"><small>Авторизируйтесь для просмотра этой страницы.</small></p></div>
{% endif %}
{% endif %}
{% endblock %}